@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "_Baselayout.cshtml";
}

<div class="hero-panel hero-2">
    <div class="row">
        <div class="large-6 columns">
            <div class="row">
                <div class="large-6 columns">
                    <h1 class="contained-title">Inspire</h1>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <p class="subheader inverted"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content-panel">
    <div class="row">
        <div class="large-6 medium-6 small-12 columns">
            <h2 class="contained-title inverted">Rexona Ambassadors</h2>
        </div>
    </div>
    <div class="row">
        <div class="large-6 medium-6 small-12 columns">
            <p class="subheader"></p>
        </div>
    </div>
    <div class="row image-heroes">
        <div class="large-6 medium-6 small-12 columns">
            <img src="http://placehold.it/500x300" alt="">
            <h4>Name of Ambassador</h4>
            <h6></h6>
            <p></p>
        </div>
        <div class="large-6 medium-6 small-12 columns">
            <img src="http://placehold.it/500x300" alt="">
            <h4>Name of Ambassador</h4>
            <h6></h6>
            <p></p>
        </div>
    </div>
</div>

<div class="content-panel">
    <div class="row">
        <div class="large-6 columns">
            <h2 class="contained-title inverted">Rexona Rising Stars</h2>
        </div>
    </div>
    <div class="row">
        <div class="large-6 medium-6 small-12 columns">
            <p class="subheader"></p>
        </div>
    </div>
    <div class="row image-heroes">
        <div class="large-6  medium-6 small-12 columns">
            <img src="http://placehold.it/500x300" alt="">
            <h4>Name of Rising Star</h4>
            <h6></h6>
            <p></p>
            <div class="row">
                <div class="large-11 columns">
                    <h5 class="underlined">Watch John's Progress</h5>
                    <ul class="small-block-grid-2 video-grid">
                        <li>
                            <div class="video-grid-video">
                                <div class="play-button"></div>
                                <img src="/images/video-th.jpg" class="full-on-mobile">
                            </div>
                        </li>
                        <li>
                            <div class="video-grid-video">
                                <div class="play-button"></div>
                                <img src="/images/video-th.jpg" class="full-on-mobile">
                            </div>
                        </li>
                        <li>
                            <div class="video-grid-video">
                                <div class="play-button"></div>
                                <img src="/images/video-th.jpg" class="full-on-mobile">
                            </div>
                        </li>
                        <li>
                            <div class="video-grid-video">
                                <div class="play-button"></div>
                                <img src="/images/video-th.jpg" class="full-on-mobile">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="large-6 medium-6 small-12 columns">
            <img src="http://placehold.it/500x300" alt="">
            <h4>Name of Rising Star</h4>
            <h6></h6>
            <p></p>
            <div class="row">
                <div class="large-11 columns">
                    <h5 class="underlined">Watch John's Progress</h5>
                    <ul class="small-block-grid-2 video-grid">
                        <li>
                            <div class="video-grid-video">
                                <div class="play-button"></div>
                                <img src="/images/video-th.jpg" class="full-on-mobile">
                            </div>
                        </li>
                        <li>
                            <div class="video-grid-video">
                                <div class="play-button"></div>
                                <img src="/images/video-th.jpg" class="full-on-mobile">
                            </div>
                        </li>
                        <li>
                            <div class="video-grid-video">
                                <div class="play-button"></div>
                                <img src="/images/video-th.jpg" class="full-on-mobile">
                            </div>
                        </li>
                        <li>
                            <div class="video-grid-video">
                                <div class="play-button"></div>
                                <img src="/images/video-th.jpg" class="full-on-mobile">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
