<?xml version="1.0"?>
<FileSystemProviders>
  <!--<Provider alias="media" type="Umbraco.Core.IO.PhysicalFileSystem, Umbraco.Core">
    <Parameters>
      <add key="virtualRoot" value="~/media/" />
    </Parameters>
  </Provider>-->
  <!-- Media -->
  <Provider alias="media" type="Gibe.Umbraco.AmazonFileSystemProvider.AmazonS3Provider, Gibe.Umbraco.AmazonFileSystemProvider">
    <Parameters>
      <add key="accessKeyId" value="AKIAIP2NVQM2YOWLTU3A" />
      <add key="secretAccessKey" value="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" />
      <add key="bucketName" value="iwilldo.rexona.com.au" />
      <add key="region" value="ap-southeast-1" />
      <add key="mediaRoot" value="UAT/" />
      <add key="useHttps" value="0" />
    </Parameters>
  </Provider>
</FileSystemProviders>
